a, a:visited, a:hover {
	color: inherit;
	padding-bottom: 2px;
	border-bottom: 1px dotted #3258C1;
}

body {
	font-family: 'Helvetica-neue', 'Helvetica', 'Arial', sans-serif;
	color: #3258C1;
}

.title {
	margin-bottom: 50px;
	font-size: 36px;
}

.work {
	font-size: 30px;
}

header {
	padding-top: 5%;
	margin-bottom: 60px;
}

header p {
	max-width: 500px;
	line-height: 30px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

header span {
	color: #2982db;
}

.title span {
	font-weight: 100;
	color: inherit;
}

.container {
	max-width: 1000px;
	margin: auto;
	z-index: 1;
	padding: 0px 20px 0px 20px;
}

.work--title {
	float: left;
	max-width: 50%;
}

.work--title p, .work--type p {
	margin-top: 10px;
}

.work--title span{
	font-weight: 100;
	font-family: 'Inconsolata', monospace;
	border-bottom: 2px solid #3258C1;
	padding-bottom: 5px;
	font-size: 13px;
}

.work--type {
	font-weight: 100;
	text-align: right;
	float: right;
	max-width: 50%;
}

.clearfix:after {
 content: " "; /* Older browser do not support empty content */
 visibility: hidden;
 display: block;
 height: 0;
 clear: both;
}

.work--type span {
	font-weight: 100;
	font-family: 'Inconsolata', monospace;
	font-size: 13px;
	padding-bottom: 5px;
	border-bottom: 2px solid #3258C1;
}

.work--description {
	width: 100%;
}

.work--description p {
	font-weight: 100;
	font-size: 14px;
	line-height: 26px;
	margin-top: 0px;
	margin-bottom: 10px;
}


article {
	border-top: 1px dotted #3258C1;
	border-bottom: 1px dotted #3258C1;
	padding: 20px 0px 20px 0px;
	margin-bottom: 10px;
}

article div:last-child img {
	max-height: 80%;
	max-width: 80%;
	opacity: 0.9;
}

article div:last-child {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	opacity: 0;
	display: flex;
	justify-content: center;
	background: #DEE8ED;
	align-items: center;
	transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
}

article:hover div:last-child {
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
}

article:hover .work--title .work--description .work--type {
	text-decoration: underline;
}

footer {
	margin-top: 60px;
	background: rgba(150,150,150,0.1);
	z-index: -2;
}

.footer--container {
	max-width: 1000px;
	margin: auto;
	padding: 20px 20px 80px 20px;
}

.colofon {
	font-size: 30px;
	margin-bottom: 0px;
}

.colofon--title {
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: 100;
	margin-top: 20px;
}

.col {
	font-weight: 400;
	font-size: 13px;
}

.abbr {
	min-width: 80px;
	display: inline-block;
}

.row {
	display: flex;
	display: -webkit-flex;
}

.col {
	flex: 1;
}

ul {
	list-style-type: none;
	padding: 0;
}

.col:nth-child(3) ul {
	list-style-type: circle;
	padding-left: 20px;
}

.col ul li {
	line-height: 28px;
}

@media (max-width: 700px) {
	.row > .col:nth-child(2), .col:last-child {
		display: none;
	}
}

.copyright {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 100;
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}



